.interna_produtos{
    background: url("../img/bg-portfolio.jpg") no-repeat center;
    background-size: cover;
}

.portfolio-cont{
    padding-top: 45px;
    padding-bottom: 37px;
}

.quote-portfolio{
    color: #000;
    text-align: right;
    max-width: 450px;
  
}

.quote-portfolio p{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}

.quote-portfolio cite{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.portfolio-img{
    width: 100%;
    background: #000;
    padding-top: 40px;
    padding-bottom: 68px;
}

.portfolio-esporte{
    padding-top: 20px;
}

/* Plugin */
.rslides, .rslides_portolio {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    }
  
  .rslides li, .rslides_portolio li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    }
  
  .rslides li:first-child, .rslides_portolio li:first-child {
    position: relative;
    display: block;
    float: left;
    }
  
  .rslides img, .rslides_portolio img {
    display: block;
    height: auto;
    width: 100%;
    border: 0;
    }

.rslides_tabs{
    text-align: center;
    margin-top: 20px;
}


.rslides_tabs li{
    display: inline;
    margin: 0 5px;
}



.rslides_tabs li a{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #1d1d1d;
    color: #1d1d1d;
    border-radius: 20px; 
    overflow: hidden;
    text-indent: -200px;
}

.rslides_tabs li a:hover, .rslides_tabs li.rslides_here a{
    background: #fec63e;
    color: #fec63e;
}
